*.html linguist-detectable=false
*.js linguist-detectable=false
*.css linguist-detectable=false

*.html linguist-vendored
*.js linguist-vendored
*.css linguist-vendored

tools/* linguist-documentation
wwwroot/* linguist-documentation

*.cs linguist-language=C#